# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
instance/
*.db
*.sqlite

# Environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Backup folders
templates - Copy/

